PySide6>=6.7.0
psutil>=5.9.8
pyqtgraph>=0.13.7
PyInstaller>=6.6.0

pywin32>=306; sys_platform == "win32"
winrt-Windows.Security.Credentials.UI>=3.2.1; sys_platform == "win32"
uiautomation>=2.0.29; sys_platform == "win32"

pyobjc-framework-Cocoa>=10.3; sys_platform == "darwin"
pyobjc-framework-Quartz>=10.3; sys_platform == "darwin"

python-xlib>=0.33; sys_platform == "linux"
